@import "material-bootstrap/_variables.scss";
$ionicons-font-path: "../bower_components/ionicons/fonts/";

//Bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "../bower_components/ionicons/scss/ionicons.scss";
@import "material-bootstrap/_bootswatch.scss";

//Project
@import "utilities.scss";
@import "pitstop.scss";

//Components
@import "angular-slider/slider.scss";

body{
    font-family: 'Work Sans';
    background-color: #f7f7f7;
    overflow-y: scroll;
}

.navbar-nav{
    i {
        font-size: 2.0em;
    }
}
.navbar {
  margin-bottom: 0px;
}
