.skyscan-car {
    margin: 20px 0 0;
    img{
        margin: 40px 0 0;
    }
    span {
        position: relative;
        top: -1px;
    }
    i {
        font-size: 16px;
        display: inline-block;
        margin: 0 10px 0 0;
    }
}
