<div style="margin-bottom: 10px; border-bottom: dotted" ng-repeat="car in cars">
  <div class="row">
    <div class="col-xs-4"><img src="{{car.url}}"></div>
    <div class="col-xs-7 col-xs-offset-1">
      <span> <b> Sipp : </b> {{car.sipp}} </span>
      <span> <b> Seats : </b> {{car.seats}} </span>
      <span> <b> Name : </b>{{car.vehicle}} </span>
      <span><b> Pickup Point  : </b>{{car.location.pick_up.address}} </span>
      <span> <b> Distance  : </b>{{car.location.pick_up.distance_to_search_location_in_km}} Km </span>
    </div>
  </div>
</div>
