
<div style="margin-top: 15px;" >
  <div style="margin-bottom: 10px; border-bottom: dotted" class="row" ng-repeat="car in cars">
    <div class="col-xs-4">
      <img src="{{car.url}}">
      <a>select</a>
    </div>
    <div class="col-xs-7 col-xs-offset-1">
      <span> <b> Sipp : </b> {{car.sipp}} </span>
      <span> <b> Seats : </b> {{car.seats}} </span>
      <span> <b> Name : </b>{{car.vehicle}} </span>
      <span><b> Pickup Point  : </b>{{car.location.pick_up.address}} </span>
      <span> <b> Distance  : </b>{{car.location.pick_up.distance_to_search_location_in_km}} Km </span>
    </div>
  </div>
</div>
